@model Categoria
@{
    ViewData["Title"] = "Editar categoría";
}

<h1>Editar Categoria</h1>
<h5>
    Nos permite indicar en qeu gastamos nuestro dinero,
    también de dónde provienen nuestros ingresos
</h5>


<form asp-action="Editar">
    <input asp-for="Id" type="hidden"/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TipoOperacionId" class="form-label"></label>
        <select asp-for="TipoOperacionId"
                asp-items="Html.GetEnumSelectList<TipoOperacion>()"
                class="form-select"></select>
        <span asp-validation-for="TipoOperacionId"></span>
    </div>

    <button class="btn btn-primary">Enviar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}